<% title "-Add Timelog" %>
<div class="container">
  <%if current_user.admin?%>
    <%= render 'form', timelog: @timelog %>
  <%elsif current_user.employee?%>
    <%= render 'form1', timelog: @timelog %>
  <%end%>
</div>

