<ul class='navbar-nav mr-auto'>
  <li class='nav-item'>
    <%= link_to 'Clients', manager_clients_path ,class: 'nav-link text-light' %>
  </li>
   <li class='nav-item'>
      <%= link_to 'Projects', manager_projects_path ,class: 'nav-link text-light' %>
  </li>
</ul>
