<ul class="navbar-nav mr-auto">
  <li class="nav-item">
      <%= link_to 'Users', admin_users_path ,class: 'nav-link text-light' %>
  </li>
  <li class="nav-item">
      <%= link_to 'Clients', admin_clients_path ,class: 'nav-link text-light' %>
  </li>
  <li class="nav-item">
      <%= link_to 'Projects', admin_projects_path ,class: 'nav-link text-light' %>
  </li>
</ul>
