<table class='table table-striped' id='myTable'>
  <thead>
    <tr>
      <th><strong>Title</strong></th>
      <th><strong>Description</strong></th>
      <th><strong>hours_spent</strong></th>
      <th><strong>Amount</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @project.title %></td>
      <td><%= @project.description %></td>
      <td><%= @project.hours_spent %></td>
      <td><%= @project.amount %></td>
    </tr>
  </tbody>
</table>
